.mainDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  max-width: max-content;
  padding: 20px;
  min-width: 400px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.errorMSG {
  color: red;
  font-size: 12px;
}

.signinTitle {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
